<!DOCTYPE html>
<html>
<style>
    .center-screen {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        min-height: 100vh;
    }

    html {
        overflow: scroll;
        overflow-x: hidden;
    }

    ::-webkit-scrollbar {
        width: 0;
        /* Remove scrollbar space */
        background: transparent;
        /* Optional: just make scrollbar invisible */
    }

    /* Optional: show position indicator in red */
    ::-webkit-scrollbar-thumb {
        background: #4d4d4d;
    }
</style>

<head>
    {{header_jinja2_includes}}

    <meta charset="utf-8">
    <link rel="icon" href="https://clucoin.com/static/images/favicon/favicon-32x32.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CluTrack | CLU Reward Tracker</title>
    <meta name="title" content="CluTrack.io - CluCoin Redistribution Tracker">
    <meta name="description"
        content="Track the rewards you gain from holding CLU in your wallet. Link with one-click and start seeing those gains.">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://metatags.io/">
    <meta property="og:title" content="CLUTrack.io - CluCoin Redistribution Tracker">
    <meta property="og:description"
        content="Track the rewards you gain from holding CLU in your wallet. Link with one-click and start seeing those gains.">
    <meta property="og:image" content="https://clucoin.com/static/images/3000.png">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://metatags.io/">
    <meta property="twitter:title" content="CLUTrack.io - CluCoin Redistribution Tracker">
    <meta property="twitter:description"
        content="Track the rewards you gain from holding CLU in your wallet. Link with one-click and start seeing those gains.">
    <meta property="twitter:image" content="https://clucoin.com/static/images/3000.png">
    <link rel="stylesheet" href="https://clutrack.io/assets/css/clu.css">
    <script src="https://kit.fontawesome.com/bfef34323a.js" crossorigin="anonymous"></script>
</head>

<body>
    <section class="section hero is-fullheight is-dark is-bold">
        <div class="hero-head is-fullwidth">
            <div class="navbar">
                <div class="container">
                    <div class="navbar-brand">
                        <a class="navbar-item" href="https://clutrack.io/">
                            <img src="https://clucoin.com/static/images/3000.png" style="margin-right: 2%" alt="Logo">
                            CLUTRACK.io
                        </a>
                    </div>
                    <div id="navbarBasicExample" class="navbar-menu">
                        <div class="navbar-end">
                            {{tipjar_navbar}}
                            <div class="navbar-item">
                                <div class="buttons">
                                    <a style="margin-left: 5px;" class="button is-primary gradient"
                                        href="https://github.com/M4cs/clutrack-io" target="_blank">
                                        View Source Code
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero-body">
            <div class="container">
                <h1 class="title">Couldn't find address!</h1>
                <h1 class="title" id="title">

                </h1>
                <p class="subtitle">
                    Check the address you input, you might have copied the one in all lowercase from BSCScan, go to the address page and get the address with capital letters in it.
                </p>
            </div>
        </div>
        <div class="hero-foot">
            <br><br>
            <div class="container has-text-centered">
                <p>{{credits}}</p>
            </div>
        </div>
    </section>
    {{tipjar_modal}}
    <script src="https://cdn.ethers.io/lib/ethers-5.0.umd.min.js" type="application/javascript"></script>
</body>

</html>