<!DOCTYPE html>
<html style="overflow-y: hidden;">
<style>
    .center-screen {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        min-height: 100vh;
    }
    html {
        overflow: scroll;
        overflow-x: hidden;
    }
    ::-webkit-scrollbar {
        width: 0;  /* Remove scrollbar space */
        background: transparent;  /* Optional: just make scrollbar invisible */
    }
    /* Optional: show position indicator in red */
    ::-webkit-scrollbar-thumb {
        background: #4d4d4d;
    }
</style>

<head>
    <meta charset="utf-8">
    <link rel="icon" href="https://clucoin.com/static/images/favicon/favicon-32x32.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CluTrack | CLU Reward Tracker</title>
    <meta name="title" content="CluTrack.io - CluCoin Redistribution Tracker">
    <meta name="description"
        content="Track the rewards you gain from holding CLU in your wallet. Link with one-click and start seeing those gains.">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://metatags.io/">
    <meta property="og:title" content="CLUTrack.io - CluCoin Redistribution Tracker">
    <meta property="og:description"
        content="Track the rewards you gain from holding CLU in your wallet. Link with one-click and start seeing those gains.">
    <meta property="og:image"
        content="https://clucoin.com/static/images/3000.png">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://metatags.io/">
    <meta property="twitter:title" content="CLUTrack.io - CluCoin Redistribution Tracker">
    <meta property="twitter:description"
        content="Track the rewards you gain from holding CLU in your wallet. Link with one-click and start seeing those gains.">
    <meta property="twitter:image"
        content="https://clucoin.com/static/images/3000.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
</head>

<body>
    <section class="section hero is-fullheight is-dark is-bold">
        <div class="hero-head is-fullwidth">
            <div class="navbar">
                <div class="container">
                    <div class="navbar-brand">
                        <a class="navbar-item">
                            <img src="https://clucoin.com/static/images/3000.png" style="margin-right: 2%" alt="Logo">
                            CLUTRACK.io
                        </a>
                    </div>
                    <div class="navbar-end">
                        <a style="margin-left: 5px;" class="button is-warning"
                            href="https://github.com/M4cs/clutrack-io" target="_blank">
                            View Source Code
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero-body">
            <div class="container">
                <h1 class="title">CluCoin Redistribution Tracker</h1>
                <h1 class="title" id="title">

                </h1>
                <p class="subtitle">
                    Connect to your BSC Wallet and join {{count}} others tracking their rewards<br>
                </p>
                <button id="rusty" onclick="sign()" class="button is-rounded is-warning">
                    Sign In With Wallet
                </button>
                <br><br>
                <form action='/search' method='GET'>
                    <label class="label" for="search" style="color: #868686">
                        Don't want to sign in or don't have access to a wallet extension? Search an address below:
                    </label>
                    <div id="search" class="field has-addons">
                        <div class="control">
                            <input class="input" type="text" name="address"
                                placeholder="Ex: 0x44f6498D1403321890F3f2917E00F22dBDE3577a">
                        </div>
                        <div class="control">
                            <button type="submit" class="button is-warning">
                                Search Address
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="hero-foot">
            <div class="container has-text-centered">
                <p>
                <strong>Clutrack.io</strong> was created by <a href="https://twitter.com/maxbridgland">Max Bridgland</a> and is <strong>NOT</strong> affiliated with the CluCoin team. The website content
                is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>. We will never request to withdraw from your account. If you ever get a request
                that requires you pay gas, reject it! <strong>If you find use and want to support the site you can Donate CLU or any ERC/BEP-20 Token to: 0x44f6498D1403321890F3f2917E00F22dBDE3577a</strong>
                </p>
            </div>
        </div>
    </section>
    <script src="https://cdn.ethers.io/lib/ethers-5.0.umd.min.js" type="application/javascript"></script>
    <script src="assets/app.js"></script>
</body>

</html>