<!DOCTYPE html>
<html  class="has-navbar-fixed-top">
<style>
    .center-screen {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        min-height: 100vh;
    }
    ::-webkit-scrollbar {
        width: 0;  /* Remove scrollbar space */
        background: transparent;  /* Optional: just make scrollbar invisible */
    }
    /* Optional: show position indicator in red */
    ::-webkit-scrollbar-thumb {
        background: #4d4d4d;
    }
    .thumbnail {
    width: 200px;
    height: 200px;
    overflow: hidden;
}
.thumbnail img {
top: 50%;
height: 100%;
width: auto;
}
.thumbnail img.portrait {
height: auto;
  }
</style>

<head>
    {{header_jinja2_includes}}

    <script data-ad-client="ca-pub-9279253230674491" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <meta charset="utf-8">
    <link rel="icon" href="https://clucoin.com/static/images/favicon/favicon-32x32.png">
    <meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1.0, user-scalable=no">
    <title>CluTrack | CLU Reward Tracker</title>
    <meta name="title" content="CluTrack.io - CluCoin Redistribution Tracker">
    <meta name="description"
        content="Track the rewards you gain from holding CLU in your wallet. Link with one-click and start seeing those gains.">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://clutrack.io/">
    <meta property="og:title" content="CLUTrack.io - CluCoin Redistribution Tracker">
    <meta property="og:description"
        content="Track the rewards you gain from holding CLU in your wallet. Link with one-click and start seeing those gains.">
    <meta property="og:image"
        content="https://clucoin.com/static/images/3000.png">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://clutrack.io/">
    <meta property="twitter:title" content="CLUTrack.io - CluCoin Redistribution Tracker">
    <meta property="twitter:description"
        content="Track the rewards you gain from holding CLU in your wallet. Link with one-click and start seeing those gains.">
    <meta property="twitter:image"
        content="https://clucoin.com/static/images/3000.png">
    <link rel="stylesheet" href="https://clutrack.io/assets/css/clu.css">
    <script src="assets/js/gradanim.js"></script>
</head>

<body>
    <nav class="navbar is-fixed-top is-bold is-primary" style="background-color: rgb(32, 32, 32);">
        <div class="container">
            <div class="navbar-brand">
                <a class="navbar-item" href="https://clutrack.io/">
                    <img src="https://clucoin.com/static/images/3000.png" style="margin-right: 2%" alt="Logo">
                    CLUTRACK.IO
                </a>
                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
                    data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>
            <div id="navbarBasicExample" class="navbar-menu">
                <div class="navbar-start">
                    <div class="navbar-item">
                        <form action='/search' method='GET'>
                            <div class="field has-addons is-grouped-right">
                                <div class="control">
                                    <input id="addy" class="input" type="text" name="address"
                                        placeholder="Ex: 0x44f6498D1403321890F3f2917E00F22dBDE3577a">
                                </div>
                                <div class="control">
                                    <button type="submit" class="button is-primary is-outlined">
                                        <strong class="fancyTitle">Search for Reflections</strong>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="navbar-end">
                    <div class="navbar-item">
                        <div class="buttons">
                            {{tipjar_navbar}}
                            <a class="button is-primary is-outlined"
                                href="https://github.com/M4cs/clutrack-io" target="_blank">
                                View Source Code
                            </a>
                            {% if not is_logged_in %}
                            <a class="button is-primary is-outlined" onclick="sign()">
                                Connect To Wallet
                            </a>
                            {% endif %}
                            {% if is_logged_in %}
                            <a class="button is-danger is-outlined" href="{{conf.app.host}}/logout">
                                Logout
                            </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <section class="hero is-fullheight is-dark"  style="background-color: rgb(32, 32, 32);">
        <div class="hero-body">
            <div class="container has-text-centered">
                {% if not is_logged_in and not is_search%}
                <h1 class="title fancyTitle">
                    Did I get my NFTs?
                </h1>
                {% elif not is_logged_in and is_search %}
                    {% if len(nft_data) > 0 %}
                    <h1 class="title fancyTitle">
                        This address has {{len(nft_data)}} Clu NFTs!
                    </h1>
                    <div class="columns is-desktop">
                        {% for nft in nft_data %}
                        <div class="column">
                            <div class="box">
                                <center>
                                    <div class="thumbnail">
                                        <img src="{{nft.get('data').get('image')}}">
                                    </div>
                                </center>
                                <h1 class="title is-4 fancyTitle" style="color: black;">
                                    {{nft.get('data').get('name')}}
                                </h1>
                                <a class="button is-info is-outlined" href="https://opensea.io/assets/matic/0x39bd630610225d11d3e18ecef25c9de4f42edcec/{{nft.get('index')}}" target="_blank">
                                    View on OpenSea
                                </a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    {% endif %}
                {% elif is_logged_in and not is_search %}
                    {% if len(nft_data) > 0 %}
                    <h1 class="title fancyTitle">
                        You have {{len(nft_data)}} Clu NFTs!
                    </h1>
                    <div class="columns is-desktop">
                        {% for nft in nft_data %}
                        <div class="column">
                            <div class="box">
                                <center>
                                    <div class="thumbnail">
                                        <img src="{{nft.get('data').get('image')}}">
                                    </div>
                                </center>
                                <h1 class="title is-4 fancyTitle" style="color: black;">
                                    {{nft.get('data').get('name')}}
                                </h1>
                                <a class="button is-info is-outlined" href="https://opensea.io/assets/matic/0x39bd630610225d11d3e18ecef25c9de4f42edcec/{{nft.get('index')}}" target="_blank">
                                    View on OpenSea
                                </a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    {% endif %}
                {% elif is_logged_in and is_search %}
                {% if len(nft_data) > 0 %}
                    <h1 class="title fancyTitle">
                        This address has {{len(nft_data)}} Clu NFTs!
                    </h1>
                    <div class="columns is-desktop">
                        {% for nft in nft_data %}
                        <div class="column">
                            <div class="box">
                                <center>
                                    <div class="thumbnail">
                                        <img src="{{nft.get('data').get('image')}}">
                                    </div>
                                </center>
                                <h1 class="title is-4 fancyTitle" style="color: black;">
                                    {{nft.get('data').get('name')}}
                                </h1>
                                <a class="button is-info is-outlined" href="https://opensea.io/assets/matic/0x39bd630610225d11d3e18ecef25c9de4f42edcec/{{nft.get('index')}}" target="_blank">
                                    View on OpenSea
                                </a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    {% endif %}
                {% endif %}
                <form action='/nfts' method='GET'>
                    <div class="container has-text-centered">

                        <label class="label" for="search" style="color: #868686">
                            Enter an address below to find NFTs!
                        </label>
                        <div id="search" class="field has-addons">
                            <input class="input is-rounded is-normal" type="text" name="address"
                            placeholder="Ex: 0x44f6498D1403321890F3f2917E00F22dBDE3577a">
                            <button type="submit" class="button is-primary is-rounded is-outlined">
                                <strong>Search</strong>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</body>
<script src="https://cdn.ethers.io/lib/ethers-5.0.umd.min.js" type="application/javascript"></script>
    {% if conf.app.host == conf.app.local_host %}
    <script src="assets/js/app_local.js"></script>
    {% else %}
    <script src="assets/js/app.js"></script>
    {% endif %}
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
            if ($navbarBurgers.length > 0) {
                $navbarBurgers.forEach(el => {
                    el.addEventListener('click', () => {
                        const target = el.dataset.target;
                        const $target = document.getElementById(target);
                        el.classList.toggle('is-active');
                        $target.classList.toggle('is-active');
                    });
                });
            }
        });
    </script>
</html>