<!DOCTYPE html>
<html>
<style>
    .center-screen {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        min-height: 100vh;
    }
    html {
        overflow: scroll;
        overflow-x: hidden;
    }
    ::-webkit-scrollbar {
        width: 0;  /* Remove scrollbar space */
        background: transparent;  /* Optional: just make scrollbar invisible */
    }
    /* Optional: show position indicator in red */
    ::-webkit-scrollbar-thumb {
        background: #4d4d4d;
    }
</style>

<head>
    <meta charset="utf-8">
    <link rel="icon" href="https://clucoin.com/static/images/favicon/favicon-32x32.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CluTrack | CLU Reward Tracker</title>
    <meta name="title" content="CluTrack.io - CluCoin Redistribution Tracker">
    <meta name="description"
        content="Track the rewards you gain from holding CLU in your wallet. Link with one-click and start seeing those gains.">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://clutrack.io/">
    <meta property="og:title" content="CLUTrack.io - CluCoin Redistribution Tracker">
    <meta property="og:description"
        content="Track the rewards you gain from holding CLU in your wallet. Link with one-click and start seeing those gains.">
    <meta property="og:image"
        content="https://clucoin.com/static/images/3000.png">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://clutrack.io/">
    <meta property="twitter:title" content="CLUTrack.io - CluCoin Redistribution Tracker">
    <meta property="twitter:description"
        content="Track the rewards you gain from holding CLU in your wallet. Link with one-click and start seeing those gains.">
    <meta property="twitter:image"
        content="https://clucoin.com/static/images/3000.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
</head>

<body>
    <section class="section hero is-fullheight is-dark is-bold">
        <div class="hero-head is-fullwidth">
            <div class="navbar">
                <div class="container">
                    <div class="navbar-brand">
                        <a class="navbar-item" href="https://clutrack.io/">
                            <img src="https://clucoin.com/static/images/3000.png" style="margin-right: 2%" alt="Logo">
                            CLUTRACK.io
                        </a>
                    </div>
                    <div class="navbar-end">
                        <p class="subtitle" id="cluPrice">
                        </p>
                        <form action='/search' method='GET'>
                            <div class="field has-addons is-grouped-right">
                                <div class="control">
                                    <input id="addy" class="input" type="text" name="address"
                                        placeholder="Ex: 0x44f6498D1403321890F3f2917E00F22dBDE3577a">
                                </div>
                                <div class="control">
                                    <button type="submit" class="button is-warning">
                                        Search Address
                                    </button>
                                </div>
                            </div>
                        </form>
                        <a style="margin-left: 5px;" class="button is-warning"
                            href="https://github.com/M4cs/clutrack-io" target="_blank">
                            View Source Code
                        </a>
                        {% if not is_logged_in %}
                        <a style="margin-left: 5px;" class="button is-warning" onclick="login()">
                            Connect To Wallet
                        </a>
                        {% endif %}
                        {% if is_logged_in %}
                        <a style="margin-left: 5px;" class="button is-danger" href="https://clutrack.io/logout">
                            Logout
                        </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="hero-body">
            <div class="container has-text-centered">
                <h1 class="title">CluCoin Redistribution Tracker</h1>
                <div class="box">
                    <h1 class="title" id="title" style="color: black">
                        Displaying Rewards for Wallet:
                    </h1>

                    <a src="https://bscscan.com/address/{{wallet_addr}}" target="_blank" class="subtitle"
                        style="color: rgb(104, 104, 104)">{{wallet_addr}}</a>
                    <p class="subtitle" style="color: black">
                        Current Balance: {{wallet_bal}}
                        <br>
                        RPB = Reward Per Block (0.3 Blocks per second are processed)
                    </p>
                    <hr style="color: rgb(87, 87, 87)">
                    <div id="rewardStats">
                        <p class="subtitle" style="color: black">
                            Loading Reward Stats...
                        </p>
                    </div>
                    <hr style="color: rgb(87, 87, 87)">
                    <div id="longTermStats">
                        <p class="subtitle" style="color: black">
                            {{longterm_msg}}
                        </p>
                    </div>
                    <br>
                </div>
            </div>
        </div>
        <div class="hero-foot">
            <div class="container has-text-centered">
                <p>
                <strong>Clutrack.io</strong> was created by <a href="https://twitter.com/maxbridgland">Max Bridgland</a> and is <strong>NOT</strong> affiliated with the CluCoin team. The website content
                is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>. We will never request to withdraw from your account. If you ever get a request
                that requires you pay gas, reject it! <strong>If you find use and want to support the site you can Donate CLU or any ERC/BEP-20 Token to: 0x44f6498D1403321890F3f2917E00F22dBDE3577a</strong>
                </p>
            </div>
        </div>
    </section>
    <script src="https://cdn.ethers.io/lib/ethers-5.0.umd.min.js" type="application/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.2.1/dist/chart.min.js"></script>
    <script src="assets/reward.js"></script>
    <script>
        window.addEventListener('load', function () {
            fetch('https://clutrack.io/getPrice',{
                method: 'get',
                headers: {'Content-Type': 'application/json'}
            }).then((response) => {
                response.json().then(data => {
                    if (data.data !== null) {
                        var elem = document.getElementById('cluPrice')
                        elem.innerHTML = `
                        <p class="subtitle" id="cluPrice" style="font-size: small; margin-right: 10px;  padding-top: 5px;">
                            ` + data.price + ` USD<br>` + data.price_BNB + ` BNB
                        </p>
                        `
                    }
                })
            })
            getRewards(`{{wallet_addr}}`)
            var intervalId = window.setInterval(function () {
                getRewards(`{{wallet_addr}}`)
            }, 30000)
            var interval = window.setInterval(function() {
                fetch('https://clutrack.io/getPrice',{
                    method: 'get',
                    headers: {'Content-Type': 'application/json'}
                }).then((response) => {
                    response.json().then(data => {
                        if (data.data !== null) {
                            var elem = document.getElementById('cluPrice')
                            elem.innerHTML = `
                            <p class="subtitle" id="cluPrice" style="font-size: small; margin-right: 10px; padding-top: 5px;">
                                ` + data.price + ` USD<br>` + data.price_BNB + ` BNB
                            </p>
                            `
                        }
                    })
                })
            }, 60000)
        })
    </script>
</body>

</html>