<!DOCTYPE html>
<html>
<style>
    .center-screen {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        min-height: 100vh;
    }
    html {
        overflow: scroll;
        overflow-x: hidden;
    }
    ::-webkit-scrollbar {
        width: 0;  /* Remove scrollbar space */
        background: transparent;  /* Optional: just make scrollbar invisible */
    }
    /* Optional: show position indicator in red */
    ::-webkit-scrollbar-thumb {
        background: #4d4d4d;
    }
</style>

<head>
    <script data-ad-client="ca-pub-9279253230674491" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <meta charset="utf-8">
    <link rel="icon" href="https://clucoin.com/static/images/favicon/favicon-32x32.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CluTrack | CLU Reward Tracker</title>
    <meta name="title" content="CluTrack.io - CluCoin Redistribution Tracker">
    <meta name="description"
        content="Track the rewards you gain from holding CLU in your wallet. Link with one-click and start seeing those gains.">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://clutrack.io/">
    <meta property="og:title" content="CLUTrack.io - CluCoin Redistribution Tracker">
    <meta property="og:description"
        content="Track the rewards you gain from holding CLU in your wallet. Link with one-click and start seeing those gains.">
    <meta property="og:image"
        content="https://clucoin.com/static/images/3000.png">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://clutrack.io/">
    <meta property="twitter:title" content="CLUTrack.io - CluCoin Redistribution Tracker">
    <meta property="twitter:description"
        content="Track the rewards you gain from holding CLU in your wallet. Link with one-click and start seeing those gains.">
    <meta property="twitter:image"
        content="https://clucoin.com/static/images/3000.png">
    <link rel="stylesheet" href="/assets/css/clu.css">
    <script src="assets/js/gradanim.js"></script>
</head>

<body>
    <nav class="navbar is-fixed-top is-bold is-primary" style="background-color: rgb(32, 32, 32);">
        <div class="container">
            <div class="navbar-brand">
                <a class="navbar-item" href="https://clutrack.io/">
                    <img src="https://clucoin.com/static/images/3000.png" style="margin-right: 2%" alt="Logo">
                    CLUTRACK.IO
                </a>
                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
                    data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>
            <div id="navbarBasicExample" class="navbar-menu">
                <div class="navbar-start">
                    <div class="navbar-item">
                        <form action='/search' method='GET'>
                            <div class="field has-addons is-grouped-right">
                                <div class="control">
                                    <input id="addy" class="input" type="text" name="address"
                                        placeholder="Ex: 0x44f6498D1403321890F3f2917E00F22dBDE3577a">
                                </div>
                                <div class="control">
                                    <button type="submit" class="button is-primary is-outlined">
                                        <strong class="fancyTitle">Search</strong>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="navbar-end">
                    <div class="navbar-item">
                        <p class="subtitle" id="cluPrice">
                        </p>
                    </div>
                    <div class="navbar-item">
                        <div class="buttons">
                            <a class="button is-primary gradient is-outlined"
                                href="https://github.com/M4cs/clutrack-io" target="_blank">
                                View Source Code
                            </a>
                            {% if not is_logged_in %}
                            <a class="button is-primary gradient is-outlined" onclick="login()">
                                Connect To Wallet
                            </a>
                            {% endif %}
                            {% if is_logged_in %}
                            <a class="button is-danger is-outlined" href="{{conf.app.host}}/logout">
                                Logout
                            </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <section class="section hero is-fullheight is-dark"  style="background-color: rgb(32, 32, 32);">
        <div class="hero-head is-fullwidth">
        </div>
        <div class="hero-body">
            <div class="container has-text-centered">
                <h1 class="title fancyTitle is-3" id="mainTitle">
                    Loading Rewards for Wallet:
                </h1>

                <a src="https://bscscan.com/address/{{wallet_addr}}" target="_blank" class="subtitle"
                    style="color: rgb(104, 104, 104)">{{wallet_addr}}</a>
                <p class="subtitle">
                    Current Balance: {{wallet_bal}}
                    <br>
                    RPB = Reward Per Block (0.3 Blocks per second are processed)
                </p>
                <div id="rewardStats">
                    <p class="subtitle">
                    </p>
                </div>
                <br>
                <div id="longTermStats">
                    <p class="subtitle" style="display: none;">
                        {{longterm_msg}}
                    </p>
                </div>
            </div>
        </div>
        <div class="hero-foot">
            <div class="container has-text-centered">
                <p>{{credits}}</p>
            </div>
        </div>
    </section>
    <script src="https://cdn.ethers.io/lib/ethers-5.0.umd.min.js" type="application/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.2.1/dist/chart.min.js"></script>
    {% if conf.app.host == conf.app.local_host %}
    <script src="assets/js/reward_local.js"></script>
    {% else %}
    <script src="assets/js/reward.js"></script>
    {% endif %}
    <script>
        window.addEventListener('load', function () {
            fetch('{{conf.app.host}}/getPrice',{
                method: 'get',
                headers: {'Content-Type': 'application/json'}
            }).then((response) => {
                response.json().then(data => {
                    if (data.price != null) {
                        var elem = document.getElementById('cluPrice')
                        elem.innerHTML = `
                        <p class="subtitle" id="cluPrice" style="font-size: small; margin-right: 10px;  padding-top: 5px;">
                            ` + data.price + ` USD<br>` + data.price_BNB + ` BNB
                        </p>
                        `
                    }
                })
            })
            getRewards(`{{wallet_addr}}`)
            var intervalId = window.setInterval(function () {
                getRewards(`{{wallet_addr}}`)
            }, 30000)
            var interval = window.setInterval(function() {
                fetch('{{conf.app.host}}/getPrice',{
                    method: 'get',
                    headers: {'Content-Type': 'application/json'}
                }).then((response) => {
                    response.json().then(data => {
                        if (data.price != null) {
                            var elem = document.getElementById('cluPrice')
                            elem.innerHTML = `
                            <p class="subtitle" id="cluPrice" style="font-size: small; margin-right: 10px; padding-top: 5px;">
                                ` + data.price + ` USD<br>` + data.price_BNB + ` BNB
                            </p>
                            `
                        }
                    })
                })
            }, 60000)
        })
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
            if ($navbarBurgers.length > 0) {
                $navbarBurgers.forEach(el => {
                    el.addEventListener('click', () => {
                        const target = el.dataset.target;
                        const $target = document.getElementById(target);
                        el.classList.toggle('is-active');
                        $target.classList.toggle('is-active');
                    });
                });
            }
        });
    </script>
</body>

</html>